.download-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    height: 100vh;
  }

  .download-header {
    text-align: left;
    margin-left: 11%;
    font-size: 2em;
  }
  
  .korean-text {
    text-align: left;
    margin: 15px 11%;
    margin-bottom: 20px;
    font: 3ch sans-serif;
  }
  
  .content-column {
    margin-left: 10%;
    width:70%;
    background: linear-gradient(to right, #007bff, #d3d3d3);
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; /* Creates a 20px gap between the child elements */
    text-align: left;
  }
  