.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #a8a8a8, #d3d3d3);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  .login-form h1 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 5ch;
  }
  label {
    display: inline-block; /* Or 'block' if you want each label to be on a new line */
    margin-bottom: 0.5em; /* Adds some space below each label */
    font-size: 2em;
    padding: 0.5em;
    font-weight: bold;
    height: 10%;
  }
 .input-text {
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  font-weight: light;
  border-radius: 4px;
  font-size: 1.5em;
  height: 10%;
  }

  .login-form .input {
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 4px;
    font-size: 3em;
    height: 20%;

  }
  
  .login-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 3ch;
    height: 15%;
  }

  .login-form button:hover{
    background-color: gray;
    color:white;
  }

  .signButton {
    margin-top: 3%;
    background-color: none;
    background: none;
    color: black;
    border: none;
    font-size: 3ch;
  }

  .signButton:hover{
    color: blue;
  }

  .container {
    display: flex;
    width:70%;
    height: 80%;
    justify-content: space-between;
    align-items: left;
    padding: 30px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: white;
  }
  .container-sub {
    display: flex;
    flex-direction:row;
    width:70%;
    height: 400px;
    align-items: center;
    padding: 30px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 2px;
    margin-top: 5px;
    background: rgb(231, 231, 231);
  }
  .section {
    flex: 1;
    display: left;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-left: 10%;
  }
  
  .header {
    color: #333;
    margin-bottom: 20px;
  }
  
  .info {
    margin: 5px 0;
    font-size: 20px;
    color: #666;
  }
  
  .info strong {
    font-weight: 600;
    color: #333;
  }
  
  .rightAlignedText {
    text-align: right;
  }
  
  .welcomeMessage {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    color: #4a4a4a;
  }

  .mailButton {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .editButton {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #0084ff;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }

  .text-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding : 15px 25px;
    font-size: 2.2ch;
    font-weight: 400;
    justify-content: center;
    background-color: white;
    height: 100%;;
    width: 20%;
    border-radius: 20px;
  }

  .google-login-btn {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px 15px;
    background-color: whitesmoke; /* Google's brand blue */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin:10px 0px;

}

.google-login-btn:hover {
    background-color: #357ae8; /* Darker shade for hover state */
    transform: translateY(-2px);
}

.google-login-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(66,133,244,0.5); /* Focus state */
}

.google-login-btn:active {
    transform: translateY(0);
    background-color: #3367d6; /* Even darker shade for active state */
}