/* Upload.css */
.upload-page {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 100vh;

  }

  .content-column-upload {
    margin-left: 10%;
    width: 70%;
    background: linear-gradient(to right, rgb(148, 255, 148), #d3d3d3);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; /* Creates a 20px gap between the child elements */
    text-align: left;
  }

  .upload-text {
    font-size: 5em;
    opacity: 0; /* Start with text invisible */
    transform: translateY(100%); /* Start with text off-screen */
    transition: all 0.5s ease-out;
  }
  
  .upload-text.animate {
    opacity: 1;
    transform: translateY(0); /* End with text at its intended position */
    animation: surface-break 3s ease-out forwards;
  }
  
  @keyframes surface-break {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px); /* Slight lift to give a "surfacing" feel */
      opacity: 1;
    }
  }

  .upload-sub-text {
    font-size: 3em;
    color: black;
    opacity: 0.4; /* Start with text invisible */
    transform: translateY(100%); /* Start with text off-screen */
    transition: all 0.6s ease-out;
  }

  .upload-sub-text.animate-sub {
    animation: surface-break 3s ease-out forwards;
  }

  @keyframes surface-sub-break {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px); /* Slight lift to give a "surfacing" feel */
      opacity: 1;
    }
  }
  
.upload-content {
  margin-left: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.white-list {
  margin-left: 10%;
  background-color: white;
  width: 80%; /* Adjust size as needed */
  height: 50%; /* Adjust size as needed */
  border-radius: 4px;
  /* Further styling for your list */
}

.upload-header {
  text-align: left;
  margin-left: 0%;
  font-size: 4ch;
}

.login-prompt {

  color: black;
  font-weight: 500;
  font-size: 2em; /* Adjust size as needed */
}
