/* Upload.css */
.upload-page {
  display: flex;
  flex-direction: row;
  justify-content: right;
  height: 100vh;
  margin-top:3%;
  }

  .content-column-upload {
    margin-left: 10%;
    width: 70%;
    background: linear-gradient(to right, rgb(148, 255, 148), #d3d3d3);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; /* Creates a 20px gap between the child elements */
    text-align: left;
  }

  .upload-text {
    font-size: 5em;
    opacity: 0; /* Start with text invisible */
    transform: translateY(100%); /* Start with text off-screen */
    transition: all 0.5s ease-out;
  }
  
  .upload-text.animate {
    opacity: 1;
    transform: translateY(0); /* End with text at its intended position */
    animation: surface-break 3s ease-out forwards;
  }
  
  @keyframes surface-break {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px); /* Slight lift to give a "surfacing" feel */
      opacity: 1;
    }
  }

  .upload-sub-text {
    font-size: 3em;
    color: black;
    opacity: 0.4; /* Start with text invisible */
    transform: translateY(100%); /* Start with text off-screen */
    transition: all 0.6s ease-out;
  }

  .upload-sub-text.animate-sub {
    animation: surface-break 3s ease-out forwards;
  }

  @keyframes surface-sub-break {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-10px); /* Slight lift to give a "surfacing" feel */
      opacity: 1;
    }
  }
  
.upload-content {
  margin-left: 10%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.white-list {
  margin-left: 10%;
  background-color: white;
  width: 90%; /* Adjust size as needed */
  height: 50%; /* Adjust size as needed */
  border-radius: 4px;
  /* Further styling for your list */
}

.upload-header {
  text-align: left;
  margin-left: 0%;
  font-size: 4ch;
}

.login-prompt {

  color: black;
  font-weight: 500;
  font-size: 2em; /* Adjust size as needed */
}

.upload-content button {
  padding: 7px;
  background-color: #239419;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2.5ch;
  height: 12%;
  width: 12%;
  margin-left: 2%;
}

.upload-content button:hover {
  background-color: lightgreen;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.button-row {
  display: flex;

  flex-direction: row;
}
.fileInputLabel {
  font-size: 16px;
  color: white;
  background-color: #4CAF50;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  width:10%;
}

.fileInputLabel:hover {
  background-color: #367c39;
}

.fileInputLabel_end {
  font-size: 16px;
  color: white;
  background-color: #5985e2;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  width:13%;
}

.search-input {
  width: 250%;
  border: none;
  border-bottom: 2px solid #333; /* Color of the underline */
  padding: 3.5px 10px; /* Spacing inside the search bar */
  font-size:16px; /* Size of the input text */
  color: #333; /* Text color */
  background-color: transparent; /* Background color */
  margin : 5px 20px;
}

.search-input:focus {
  outline: none;
  border-bottom-color: #ffffff; /* Color of the underline on focus */
}

.switch {
  position: absolute;
  right: 150px; /* Adjust as needed to fit the design */
  top: 150px; /* Adjust as needed to fit the design */
  display: inline-block;
  width: 30px;
  height:3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #77e78a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}